<div
  style='background:rgba(45, 45, 233, 0.418)'
  class='p-5'
>
  <ul><h1
      class='text-bg-dark text-light text-center mb-2'
    >Список сторінок</h1>

    <hr />
    <div class='row'>
      <div class='col-7 mb-2'>
        <li><a
            href='/summary'
            class='btn btn-primary width:20px'
          >Summary</a></li>
      </div>
      <div class='col-7 mb-2'>
        <li><a
            href='/skills'
            class='btn btn-primary width:20px'
          >Skills</a></li>
      </div>
      <div class='col-7 mb-2'>
        <li><a
            href='/education'
            class='btn btn-primary'
          >Education</a></li>
      </div>
      <div class='col-7 mb-2'>
        <li><a
            href='/work'
            class='btn btn-primary'
          >Work</a></li>
      </div>
      <div class='col-7 mb-2'>
        <li><a
            href='/task21'
            class='btn btn-outline-primary'
          >Task21</a></li>
      </div>
      <div class='col-7 mb-2'>
        <li><a
            href='/task22'
            class='btn btn-outline-primary'
          >Task22</a></li>
      </div>
      <div class='col-7 mb-2'>
        <li><a
            href='/task31'
            class='btn btn-outline-primary'
          >Task31</a></li>
      </div>
      <div class='col-7 mb-2'>
        <li><a
            href='/shophome'
            class='btn btn-outline-primary text-bg-dark'
          >Shophome</a></li>
      </div>
      <div class='col-7 mb-2'>
        <li><a
            href='/shopcart'
            class='btn btn-outline-primary text-bg-dark'
          >Shopcart</a></li>
      </div>
      <div class='col-7 mb-2'>
        <li><a
            href='/shoporder'
            class='btn btn-outline-primary text-bg-dark'
          >Shoporder</a></li>
      </div>
      <div class='col-7 mb-2'>
        <li><a
            href='/shoperview'
            class='btn btn-outline-primary text-bg-dark'
          >Shoperview</a></li>
      </div>
    </div>
  </ul>
</div>